.App {
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

#ComingSoonText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-top: 10px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: linear-gradient(45deg, #2f3437, #1ff4a6);
  background-size: 400%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}